:root {
    --primary-color: #bc157c;
    --secondary-color: #ED99C5;


    --third-color: #DBA112;
    --third-alt-color: #fcda83;

    
    --danger-color: #DA4F49;
    --danger-alt-color: #FF625A;

    --success-color: #4CAF50;



    --info-color: #3A87AD;
    --info-alt-color: #2a6a8a;

    --titles-color: #0a0363;


    --text-primary-color: #303030;
    --white-color: #FFF;
    
    --gray-dark-color: #888888;
    --gray-ligth-one-color: #AFAFAF;
    --gray-ligth-two-color: #BABABA;
    --gray-ligth-three-color: #CCCCCC;
    --gray-ligth-four-color: #D9D9D9;
    --gray-ligth-five-color: #F2F2F2;
    --gray-ligth-six-color: #F8F9FA;

    --main-font-family: "Varela Round", sans-serif;
}

* {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
}

/* ---------------- Styles for buttons ---------------- */
.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--primary-color) !important;
    padding: 8px 20px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bolder !important;
}

.btn-primary:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out;
}



.btn-secondary{
    padding: 8px 20px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bolder !important;
}




.btn-outline-primary {
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    padding: 8px 20px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bolder !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--secondary-color) !important;
}



.btn-outline-gray {
    background-color: var(--white-color) !important;
    color: var(--text-primary-color) !important;
    border-color: var(--gray-ligth-two-color) !important;
    padding: 8px 20px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bolder !important;
}

.btn-outline-gray:hover {
    background-color: var(--gray-ligth-four-color) !important;
    color: var(--text-primary-color) !important;
    border-color: var(--gray-ligth-two-color) !important;
}




/* ---------------- Styles for inputs ---------------- */
.form-control-sm {
    border-radius: 8px !important;
    padding: 6px 10px !important;
    font-size: 10px !important;
    background-color: var(--bg-inputs) !important;
    color: var(--text-primary-color) !important;
}


/* ---------------- Styles for links ---------------- */
.link {
    color: var(--info-color) !important;
    cursor: pointer !important;
}

.link:hover {
    color: var(--info-alt-color) !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}



.body{
    background-color: var(--gray-ligth-six-color);
    padding: 0 15px;
    border-radius: 10px;
}

.hr-title{
    color: var(--primary-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*Para las barras de progreso*/
.progress-bar {
    border-radius: 4px;
    background-color: var(--success-color) !important;
}